## Wedge Project - Part 3

In [27]:
import sqlite3
import os
import pandas as pd

### Create database and fill empty tables with CSV from GBQ

In [45]:
db_1 = sqlite3.connect("Wedge_Project_Part3.db")

cursor = db_1.cursor()

In [46]:
#create table
cursor.execute('''CREATE TABLE sales_by_date_2 (
    date DATE,
    hour INTEGER,
    total_spend FLOAT,
    num_transactions INTEGER,
    items INTEGER)''')

In [47]:
#fill with csv from GBQ query - same for next 2
with open("sales_by_date.csv",'r') as infile :
    next(infile)
    
    for line in infile :
        line = line.strip().split(",")
    
        cursor.execute('''
            INSERT INTO sales_by_date_2(date,hour,total_spend,num_transactions,items)VALUES(?,?,?,?,?)''',line)

In [48]:
cursor.execute('SELECT COUNT(*) FROM sales_by_date;')
count = cursor.fetchone()[0]
print(f"Number of rows in PostgreSQL table: {count}")

Number of rows in PostgreSQL table: 39133

In [49]:
cursor.execute('''CREATE TABLE sales_by_owner_2(
    card_no FLOAT,
    year INTEGER,
    month INTEGER,
    sales FLOAT,
    transactions INTEGER,
    items INTEGER)''')

In [50]:
s_owner = []
with open("sales_by_owner.csv",'r') as infile :
    next(infile)
    
    for line in infile :
        line = line.strip().split(",")
        s_owner.append(line)
        
        cursor.execute('''
            INSERT INTO sales_by_owner_2 (card_no,year,month,sales,transactions,items)VALUES(?,?,?,?,?,?)''',line)

In [51]:
cursor.execute('SELECT COUNT(*) FROM sales_by_owner;')
count = cursor.fetchone()[0]
print(f"Number of rows in PostgreSQL table: {count}")

Number of rows in PostgreSQL table: 167791

In [ ]:
cursor.execute('''CREATE TABLE sales_by_product_2 (
    upc STRING,
    description STRING,
    dept_number FLOAT,
    dept_name STRING,
    year INTEGER,
    month INTEGER,
    sales FLOAT,
    transactions INTEGER,
    items INTEGER)''')

In [57]:
#same as above
s_product = []
with open("sales_by_product.csv",'r') as infile :
    next(infile)
    
    for line in infile :
        line = line.strip().split(",")
        s_product.append(line)
        
    
        cursor.execute('''
            INSERT INTO sales_by_product_2 (upc,description,dept_number,dept_name,year,month,sales,transactions,items
            )VALUES(?,?,?,?,?,?,?,?,?)''',line)

In [58]:
#check number of rows
cursor.execute('SELECT COUNT(*) FROM sales_by_product_2;')
count = cursor.fetchone()[0]
print(f"Number of rows in PostgreSQL table: {count}")

Number of rows in PostgreSQL table: 176690

In [59]:
#Commit changes
db_1.commit()